img{
    width:200px;
    height:200px;
    margin:50px auto;
    background-color: lightblue;
    /* transition-duration: 4s;
    transition-delay:  2s;
    transition-property:all; */
    transition: 4s ease 2s;
    /* transition-timing-function:ease;
    border:1px solid black; */
    /* transition: all 4s ease 1s; */
}
img:hover{
    transform: rotate(88deg);
    width:500px;
    height:500px;
    border-radius: 50%;
    border: 10px solid black;
}
