*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    width: 100%;
}
h1{
    background-color: beige;
}
nav{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}
button{
    padding: 5px;
    width: 125%;
}
button:hover{
    color:white;
    background-color: black;
}
.images{
    width:100%;
}
.image{
    width: 100%;
}
.name{
    text-align: center;
    font-size: 22px;
}
.buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items{
    background-color: #f1f1f1 !important;
}
@media (max-width:426px)
{
    .items{
        padding: 10%;
        margin-bottom:15px ;
    }
    .container{
        background-color: darkseagreen;
        padding:10px;
    }
}
@media (min-width:426px) and (max-width:768px)
{
    .container{
        padding:10px 0 0 10px;
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
        background-color: darkgrey;
    }
    .items{
        width: 45%;
        padding: 5%;
        border: 2px solid red;
    }
}
@media (min-width:769px) and (max-width:1024px)
{
    h1{
        font-size: 32px;
    }
    a{
        font-size:14px;
    }
    .container{
        padding:10px 0 10px 0;
        display: flex;
        flex-wrap: wrap;
        gap:2%;
        justify-content: center;
        background-color: azure;
    }
    .items{
        width: 30%;
        margin-bottom: 10px ;
        padding: 5%;
        border: 2px solid red;
    }
    .name{
        font-size: 24px;
    }
    .buy{
        font-size: 20px;
    }
    
}
@media (min-width:1025px) and (max-width:1440px){
    h1{
        font-size: 36px;
    }
    nav{
        font-size:17px;
    }
    a{
        padding: 0 12px;
    }
    .container{
        padding:20px 0 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap:1%;
        justify-content: center;
        background-color: burlywood;
    }
    .items{
        width: 23%;
        padding: 1%;
        border: 2px solid red;
    }   
    .name{
        font-size: 28px;
    }
    .buy{
        font-size: 22px;
    }
}
@media (min-width:1441px) and (max-width:2560px)
{
    h1{
        font-size: 37px;
    }
    nav{
        font-size:18px;
    }
    a{
        padding: 0 18px;
    }
    .container{
        padding:20px 0 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap:1%;
        justify-content: center;
        background-color: lightblue;
    }
    .items{
        width: 23%;
        padding: 1%;
        border: 2px solid red;
    }  
    .name{
        font-size: 22px;
    }
    .buy{
        font-size: 15px;
    } 
}