*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    width: 100%;
}
h1{
    background-color: beige;
}
nav{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}

button:hover{
    color:white;
    background-color: black;
}
.images{
    width:100%;
}
.image{
    width: 100%;
}
.name{
    text-align: center;
    font-size: 22px;
}
.buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items{
    background-color: #f1f1f1 !important;
    border-radius: 10px;
}
@media (max-width:426px)
{
    .container{
        display: grid;
        background-color: darkseagreen;
        padding:10px;
    }
    .items{
        padding: 10%;
        margin-bottom:15px ;
    }
}
 @media (min-width:426px) and (max-width:768px)
{
    .container{
        padding:10px;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap:10px;
        background-color: darkgrey;
    }
    .items{
        padding: 5%;
    }
}
@media (min-width:769px) and (max-width:1024px)
{
    h1{
        font-size: 32px;
    }
    a{
        font-size:14px;
    }
    .container{
        padding:10px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:15px;
        background-color: azure;
    }
    .items{
        padding: 5%;
    }
    .name{
        font-size: 24px;
    }
    .buy{
        font-size: 20px;
    }
}  
@media (min-width:1025px) and (max-width:1440px){
    h1{
        font-size: 36px;
    }
    nav{
        font-size:17px;
    }
    a{
        padding: 0 12px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding:20px;
        gap:20px;
        background-color: burlywood;
    }
    .items{
        padding: 3%;
    }   
    .name{
        font-size: 28px;
    }
    .buy{
        font-size: 22px;
    }
}

@media (min-width:1441px) and (max-width:2560px)
{
    h1{
        font-size: 37px;
    }
    nav{
        font-size:18px;
    }
    a{
        padding: 0 18px;
    }
    .container{
        padding:20px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:22px;
        justify-content: center;
        background-color: lightblue;
    }
    .items{
        padding: 3%;
    }  
    .name{
        font-size: 22px;
    }
    .buy{
        font-size: 15px;
    } 
}